<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <!-- javaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <title>Business Creation</title>
</head>

<body>
  <div class="container">
    <h1>Create Business (Sample/Prototype)</h1>
    <hr />
    <h3>Step - 1 Business Details</h3>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="business-name">Business Name</label>
          <input type="text" class="form-control" id="business-name" name="business-name" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="street1">Street 1</label>
          <input type="text" class="form-control" name="street1" id="street1" />
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="street2">Street 2</label>
          <input type="text" class="form-control" name="street2" id="street2" />
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="city-town">City Town</label>
          <input type="text" class="form-control" name="city-town" id="city-town" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="postal-code">Postal Code</label>
          <input type="text" class="form-control" name="postal-code" id="postal-code" />
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="parish">Parish</label>
          <input type="text" class="form-control" name="parish" id="parish" />
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="country">Country</label>
          <input type="text" class="form-control" name="country" id="country" value="Jamaica" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="TRN">Tax Registration Number</label>
          <input type="numeric" name="TRN" class="form-control" id="TRN" />
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="NIS">National Insurance Scheme</label>
          <input type="numeric" name="NIS" class="form-control" id="NIS" />
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="business-start-date">Business Start Date</label>
          <input type="date" name="business-start-date" class="form-control" id="business-start-date" />
        </div>
      </div>
    </div>
    <br>
    <hr />
    <h3>Step - 2 Select Payment Frequency</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Select</th>
          <th>Pay Frequency</th>
          <th>Number of Periods</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="pay-frequency" id="monthly" />
            </div>
          </td>
          <td>Monthly</td>
          <td>12</td>
          <td id="pay-frequency1">Inactive</td>
        </tr>
        <tr>
          <td>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="pay-frequency" id="fortnightly" />
            </div>
          </td>
          <td>Fortnightly</td>
          <td>26</td>
          <td id="pay-frequency2">Inactive</td>
        </tr>
        <tr>
          <td>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="pay-frequency" id="bi-weekly" />
            </div>
          </td>
          <td>Bi-weekly</td>
          <td>24</td>
          <td id="pay-frequency3">Inactive</td>
        </tr>
        <tr>
          <td>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="pay-frequency" id="weekly" />
            </div>
          </td>
          <td>Weekly</td>
          <td>52</td>
          <td id="pay-frequency4">Inactive</td>
        </tr>
      </tbody>
    </table>
    <br>
    <hr>
    <h3>Step - 3 Add Start Dates</h3>
    <table class="table table-hover">
      <tbody>
        <tr>
          <td>Pay Frequency</td>
          <td id="selected-pay-frequency">[xyz]</td>
        </tr>
        <tr>
          <td>Start Date</td>
          <td>
            <div class="form-group">
              <input type="date" name="pay-start-date" class="form-control">
            </div>
          </td>
        </tr>
        <tr>
          <td>End Date</td>
          <td>
            <div class="form-group">
              <input type="date" name="pay-end-date" class="form-control">
            </div>
          </td>
        </tr>
        <tr>
          <td>Period Number</td>
          <td id="selected-period-number">[xyz]</td>
        </tr>
      </tbody>
    </table>
    <br>
    <hr>
    <h3>Company Banking Details</h3>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="account-name">Name on Account</label>
          <input type="text" class="form-control" name="account-name" id="account-name">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="account-number">Account Number</label>
          <input type="numeric" class="form-control" name="account-number" id="account-number">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group"><label for="bank-name">Bank Name</label>
          <input type="text" class="form-control" id="bank-name" name="bank-name">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group"><label for="branch-name">Branch Name</label>
          <input type="text" class="form-control" id="branch-name" name="branch-name">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group"><label for="account-type">Account Type</label>
          <input type="text" class="form-control" id="account-type" name="account-type">
        </div>
      </div>
    </div>
    <br>
    <hr>
    <button type="submit" class="btn btn-success">Create</button>
    <br>
    <br>
  </div>

  <script>
    $(document).ready(function () {
      $("#monthly").click(function () {
        $("#pay-frequency1").html('<td id="pay-frequency1">Active</td>');
        $("#pay-frequency2").html('<td id="pay-frequency2">Inactive</td>');
        $("#pay-frequency3").html('<td id="pay-frequency3">Inactive</td>');
        $("#pay-frequency4").html('<td id="pay-frequency4">Inactive</td>');

        $("#selected-pay-frequency").html('<td id="selected-pay-frequency">Monthly</td>');
        $("#selected-period-number").html('<td id="selected-period-number">12</td>');

      });

      $("#fortnightly").click(function () {
        $("#pay-frequency1").html('<td id="pay-frequency1">Inactive</td>');
        $("#pay-frequency2").html('<td id="pay-frequency2">Active</td>');
        $("#pay-frequency3").html('<td id="pay-frequency3">Inactive</td>');
        $("#pay-frequency4").html('<td id="pay-frequency4">Inactive</td>');

        $("#selected-pay-frequency").html('<td id="selected-pay-frequency">Fortnightly</td>');
        $("#selected-period-number").html('<td id="selected-period-number">26</td>');
      });

      $("#bi-weekly").click(function () {
        $("#pay-frequency1").html('<td id="pay-frequency1">Inactive</td>');
        $("#pay-frequency2").html('<td id="pay-frequency2">Inactive</td>');
        $("#pay-frequency3").html('<td id="pay-frequency3">Active</td>');
        $("#pay-frequency4").html('<td id="pay-frequency4">Inactive</td>');

        $("#selected-pay-frequency").html('<td id="selected-pay-frequency">Bi-Weekly</td>');
        $("#selected-period-number").html('<td id="selected-period-number">24</td>');
      });

      $("#weekly").click(function () {
        $("#pay-frequency1").html('<td id="pay-frequency1">Inactive</td>');
        $("#pay-frequency2").html('<td id="pay-frequency2">Inactive</td>');
        $("#pay-frequency3").html('<td id="pay-frequency3">Inactive</td>');
        $("#pay-frequency4").html('<td id="pay-frequency4">Active</td>');

        $("#selected-pay-frequency").html('<td id="selected-pay-frequency">Weekly</td>');
        $("#selected-period-number").html('<td id="selected-period-number">52</td>');
      });
    });
  </script>
</body>

</html>